# Python
######################
venv/
*.pyc
*.pyo
*.pyd
__pycache__/
pycache/
.db
*.sqlite
*.sqlite3

# Node
######################
node_modules/
npm-debug.log
yarn-error.log

# Development environments
######################
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Arduino
######################
#*.ino.*  # Temporary files created by Arduino IDE
