<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Level Monitor</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/image/water-drop-icon.svg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Current Water Level</h1>
        <div class="bar-container">
            <div id="waterLevelBar"></div>
        </div>
        <div id="waterLevel">Loading...</div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>